<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hey! My name is Avi (he/him pronouns). I am an academic librarian
          with a focus on data literacy, digital scholarship, and scholarly communications.
        </p>
      </div>
      <div class="col-lg-4">
        <p>Other ways I spend my time include LGBTQ+ advocacy, crochet, reading graphic novels,
          tinkering and making, and learning new things.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://docs.google.com/document/d/12KwTtMfYlMyQPREjEgrpyXxOTCm4HZnc2ppquIXvAAI/edit?usp=sharing" target="_blank" class="btn btn-lg btn-outline">
          <i class="fa fa-file-lines"></i>  Check Out My CV
        </a>
      </div>
    </div>
  </div>
</section>
