<!-- Personal Statement -->
<section class="success" id="personal-statement">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Personal Statement</h2>
        <hr class="star-light">
        <img class="img-responsive" src="{{ site.url }}/img/portfolio/accountable.png" alt="A computer can never be held accountable. Therefore a computer must never make a management decision." />
        <p><i>{{ pages.personal-statement.caption }}</i></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-justify">
        {{ pages.personal-statement.content | markdownify }}
      </div>
    </div>
  </div>
</section>
