.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #{{ site.color.secondary }};
    border-color: #{{ site.color.secondary }}
}