.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #{{ site.color.secondary }};
    border-color: #{{ site.color.secondary }};
}

.btn-success {
    color:  #{{ site.color.secondary-dark }};
}

.btn-social {
    color: #{{ site.color.secondary-light }};
}

.btn-social:hover,
.btn-social:focus,
.btn-social:active,
.btn-social.active, {
    color: #{{ site.color.secondary-dark }};
}

.model-content {
    background-color: {{ site.color.secondary-light }};
}

.btn-default,
.modal-body .btn-default {
    color: #{{ site.color.secondary-dark }};
    background-color: #{{ site.color.primary }};
    border-color: #{{ site.color.primary }};
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
    color: #ffffff;
    background-color: #{{ site.color.secondary-dark }};
    border-color: #{{ site.color.secondary-dark }};
}

hr.star-primary:after {
    background-color: #{{ site.color.primary }};
}

hr.star-light {
    background-color: #{{ site.color.secondary-light }};
    color: #{{ site.color.secondary-dark }};
}

hr.star-light:after {
    color: #{{ site.color.secondary-dark }};
    background-color: #{{ site.color.secondary-light }};
}

.portfolio-modal .modal-content {
    background-color: #{{ site.color.secondary-light }};
}

.success .btn-outline:hover {
    color: #ffffff;
    background-color: #{{ site.color.secondary }};
    border-color: #{{ site.color.secondary }};
}

.btn-social .fa-brands:hover {
    color: #{{ site.color.secondary }};
}