.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #{{ site.color.secondary }};
    border-color: #{{ site.color.secondary }};
}

.btn-social.btn-outline {
    color: #{{ site.color.secondary-light }};
}

.model-content {
    background-color: {{ site.color.secondary-light }};
}

.btn-default {
    color: #ffffff;
    background-color: #{{ site.color.secondary }};
    border-color: #{{ site.color.secondary }};
}

.btn-default:hover,
.btn-default:focus,
.btn-outline:active,
.btn-default.active {
    color: #ffffff;
    background-color: #{{ site.color.secondary-dark }};
    border-color: #{{ site.color.secondary-dark }};
}